---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [2]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [3]:
# university_towns.txt

def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    
    # https://programminghistorian.org/lessons/working-with-text-files#reading-from-a-text-file
    # https://stackoverflow.com/questions/17262256/how-to-read-one-single-line-of-csv-data-in-python
    # https://stackoverflow.com/questions/20894525/how-to-remove-parentheses-and-all-data-within-using-pandas-python
    # https://stackoverflow.com/questions/3437059/does-python-have-a-string-contains-substring-method
    # regex
    # for pandas: https://stackoverflow.com/questions/20894525/how-to-remove-parentheses-and-all-data-within-using-pandas-python
    # for re: https://stackoverflow.com/questions/5658369/how-to-input-a-regex-in-string-replace
    # https://stackoverflow.com/questions/904746/how-to-remove-all-characters-after-a-specific-character-in-python
    # https://docs.python.org/3/library/re.html
    # www.regular-expressions.info.
    
    university_df = pd.DataFrame()
    currentState = ''
    currentCity = ''
    
    import csv
    
    with open('university_towns.txt', newline='\n') as f:
        reader = csv.reader(f, delimiter=';')
        for row in reader:
#             rowString = str(row)
            rowString = ''.join(row)
#             print(type(rowString))
            if '[edit]' in rowString:
#                 line = re.sub(r"</?\[\d+>", "", line)
#                 currentState = re.sub(r"\[edit\]","",rowString).strip()
                currentState = rowString.split("[")[0]
                continue
#                 print(currentState)
#             elif '(' in rowString:     
            else:
#                 currentCity = re.sub(r"\(.*?\)","",rowString).strip()
#                 currentCity = re.sub(r"\[.*?\]","",currentCity).strip()
#                 currentCity = re.sub(r"\s\s\s","\s",currentCity).strip()
#                 currentCity = re.sub(r"\s\s","\s",currentCity).strip()
                currentCity = rowString.split('(')[0]
#                 print(currentCity)
#             else:
#                 print(rowString)
#                 continue
                
            # add to pandas dataframe
            currentSeries = pd.Series({'State': currentState,
                                     'RegionName': currentCity})
            university_df = university_df.append(currentSeries, ignore_index=True)
            
            #https://stackoverflow.com/questions/34446767/stripping-all-trailing-empty-spaces-in-a-column-of-a-pandas-dataframe
            university_df['State'] = university_df['State'].str.strip()
            university_df['RegionName'] = university_df['RegionName'].str.strip()
    
    return university_df

df = get_list_of_university_towns()
# print(len(df['State'].unique()))
df

# === exception case - ignored issues ===
# The Colleges of Worcester Consortium:
# The Five College Region of Western Massachusetts:
# Faribault, South Central College
# North Mankato, South Central College

# === unused code ===
# line = re.sub(r"""
#   (?x) # Use free-spacing mode.
#   <    # Match a literal '<'
#   /?   # Optionally match a '/'
#   \[   # Match a literal '['
#   \d+  # Match one or more digits
#   >    # Match a literal '>'
#   """, "", line)

#     import csv
#     with open('some.csv', newline='') as f:
#       reader = csv.reader(f)
#       for row in reader:
#         print(row)

                       RegionName          State
0                          Auburn        Alabama
1                        Florence        Alabama
2                    Jacksonville        Alabama
3                      Livingston        Alabama
4                      Montevallo        Alabama
5                            Troy        Alabama
6                      Tuscaloosa        Alabama
7                        Tuskegee        Alabama
8                       Fairbanks         Alaska
9                       Flagstaff        Arizona
10                          Tempe        Arizona
11                         Tucson        Arizona
12                    Arkadelphia       Arkansas
13                         Conway       Arkansas
14                   Fayetteville       Arkansas
15                      Jonesboro       Arkansas
16                       Magnolia       Arkansas
17                     Monticello       Arkansas
18                   Russellville       Arkansas
19                         Searcy       Arkansas
20                         Angwin     California
21                         Arcata     California
22                       Berkeley     California
23                          Chico     California
24                      Claremont     California
25                         Cotati     California
26                          Davis     California
27                         Irvine     California
28                     Isla Vista     California
29   University Park, Los Angeles     California
..                            ...            ...
487                          Wise       Virginia
488                    Chesapeake       Virginia
489                    Bellingham     Washington
490                        Cheney     Washington
491                    Ellensburg     Washington
492                       Pullman     Washington
493  University District, Seattle     Washington
494                        Athens  West Virginia
495                    Buckhannon  West Virginia
496                      Fairmont  West Virginia
497                     Glenville  West Virginia
498                    Huntington  West Virginia
499                    Montgomery  West Virginia
500                    Morgantown  West Virginia
501                 Shepherdstown  West Virginia
502                  West Liberty  West Virginia
503                      Appleton      Wisconsin
504                    Eau Claire      Wisconsin
505                     Green Bay      Wisconsin
506                     La Crosse      Wisconsin
507                       Madison      Wisconsin
508                     Menomonie      Wisconsin
509                     Milwaukee      Wisconsin
510                       Oshkosh      Wisconsin
511                   Platteville      Wisconsin
512                   River Falls      Wisconsin
513                 Stevens Point      Wisconsin
514                      Waukesha      Wisconsin
515                    Whitewater      Wisconsin
516                       Laramie        Wyoming

[517 rows x 2 columns]

In [7]:
# From Bureau of Economic Analysis, US Department of Commerce, the GDP over time of the United States in current dollars 
# (use the chained value in 2009 dollars), in quarterly intervals, 
# in the file gdplev.xls. For this assignment, only look at GDP data from the first quarter of 2000 onward.

# A quarter is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
# A recession is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
# A recession bottom is the quarter within a recession which had the lowest GDP.
# A university town is a city which has a high percentage of university students compared to the total population of the city.

def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    # recession start time had 2 consecutive quarters of GDP decline
    
    recessionStart = ""
    # gdplev.xls
    ## Read recession data
    gdp_df = pd.read_excel('gdplev.xls',header=None,skiprows=220,parse_cols=[4,6], names=['quarter', 'gdp'])
    gdp_0_quarter = ''
    gdp_1 = 0
    gdp_1_quarter = ''
    gdp_2 = 0
    gdp_2_quarter = ''
    minIndex = 0
    maxIndex = np.max(list(gdp_df.index))
    for i in range(minIndex, maxIndex):
        row = gdp_df.iloc[i]
        if((row['gdp']<gdp_2) and (gdp_2<gdp_1)):
            # print(row['quarter'])
            recessionStart = gdp_2_quarter#(row['quarter'])
            break # first one is all we need
        gdp_0_quarter = gdp_1_quarter
        gdp_1 = gdp_2
        gdp_1_quarter = gdp_2_quarter
        gdp_2 = row['gdp']        
        gdp_2_quarter = row['quarter']
        
    return recessionStart


get_recession_start()

'2008q1'

In [8]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
       
    recessionEnd = ""
    # gdplev.xls
    ## Read recession data
    gdp_df = pd.read_excel('gdplev.xls',header=None,skiprows=220,parse_cols=[4,6], names=['quarter', 'gdp'])
    gdp_1 = 1000000
    gdp_2 = 1000000
    recessionStart = get_recession_start()
    minIndex = gdp_df[gdp_df['quarter']==recessionStart].index[0] # use recession start
    maxIndex = np.max(list(gdp_df.index))
    for i in range(minIndex, maxIndex):
        row = gdp_df.iloc[i]
        if((row['gdp']>gdp_2) and (gdp_2>gdp_1)):
            # print(row['quarter'])
            recessionEnd = (row['quarter'])
            break # first one is all we need
        gdp_1 = gdp_2
        gdp_2 = row['gdp']
        
    return recessionEnd


get_recession_end()

'2009q4'

In [9]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    
    recessionBottom = ""
    # gdplev.xls
    ## Read recession data
    gdp_df = pd.read_excel('gdplev.xls',header=None,skiprows=220,parse_cols=[4,6], names=['quarter', 'gdp'])
    min_gdp = 1000000
    recessionStart = get_recession_start()
    recessionEnd = get_recession_end()
    minIndex = gdp_df[gdp_df['quarter']==recessionStart].index[0] # use recession start
    maxIndex = gdp_df[gdp_df['quarter']==recessionEnd].index[0] # use recession start
    for i in range(minIndex, maxIndex):
        row = gdp_df.iloc[i]
        if((row['gdp']<min_gdp)):
            # print(row['quarter'])
            recessionBottom = (row['quarter'])
            min_gdp = row['gdp']
            # break # first one is all we need
        
    return recessionBottom

get_recession_bottom()

'2009q2'

In [24]:
import numpy as np


def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    # City_Zhvi_AllHomes.csv

    ## define kept columns
    ### ignored columns
    # 'RegionID',
    # 'Metro', 'CountyName', 'SizeRank',
    # '1996-04', '1996-05', '1996-06', '1996-07', '1996-08', '1996-09',
    # '1996-10', '1996-11', '1996-12', '1997-01', '1997-02', '1997-03',
    # '1997-04', '1997-05', '1997-06', '1997-07', '1997-08', '1997-09',
    # '1997-10', '1997-11', '1997-12', '1998-01', '1998-02', '1998-03',
    # '1998-04', '1998-05', '1998-06', '1998-07', '1998-08', '1998-09',
    # '1998-10', '1998-11', '1998-12', '1999-01', '1999-02', '1999-03',
    # '1999-04', '1999-05', '1999-06', '1999-07', '1999-08', '1999-09',
    # '1999-10', '1999-11', '1999-12',
    columnNames = [
        'RegionName', 'State', '2000-01', '2000-02', '2000-03', '2000-04',
        '2000-05', '2000-06', '2000-07', '2000-08', '2000-09', '2000-10',
        '2000-11', '2000-12', '2001-01', '2001-02', '2001-03', '2001-04',
        '2001-05', '2001-06', '2001-07', '2001-08', '2001-09', '2001-10',
        '2001-11', '2001-12', '2002-01', '2002-02', '2002-03', '2002-04',
        '2002-05', '2002-06', '2002-07', '2002-08', '2002-09', '2002-10',
        '2002-11', '2002-12', '2003-01', '2003-02', '2003-03', '2003-04',
        '2003-05', '2003-06', '2003-07', '2003-08', '2003-09', '2003-10',
        '2003-11', '2003-12', '2004-01', '2004-02', '2004-03', '2004-04',
        '2004-05', '2004-06', '2004-07', '2004-08', '2004-09', '2004-10',
        '2004-11', '2004-12', '2005-01', '2005-02', '2005-03', '2005-04',
        '2005-05', '2005-06', '2005-07', '2005-08', '2005-09', '2005-10',
        '2005-11', '2005-12', '2006-01', '2006-02', '2006-03', '2006-04',
        '2006-05', '2006-06', '2006-07', '2006-08', '2006-09', '2006-10',
        '2006-11', '2006-12', '2007-01', '2007-02', '2007-03', '2007-04',
        '2007-05', '2007-06', '2007-07', '2007-08', '2007-09', '2007-10',
        '2007-11', '2007-12', '2008-01', '2008-02', '2008-03', '2008-04',
        '2008-05', '2008-06', '2008-07', '2008-08', '2008-09', '2008-10',
        '2008-11', '2008-12', '2009-01', '2009-02', '2009-03', '2009-04',
        '2009-05', '2009-06', '2009-07', '2009-08', '2009-09', '2009-10',
        '2009-11', '2009-12', '2010-01', '2010-02', '2010-03', '2010-04',
        '2010-05', '2010-06', '2010-07', '2010-08', '2010-09', '2010-10',
        '2010-11', '2010-12', '2011-01', '2011-02', '2011-03', '2011-04',
        '2011-05', '2011-06', '2011-07', '2011-08', '2011-09', '2011-10',
        '2011-11', '2011-12', '2012-01', '2012-02', '2012-03', '2012-04',
        '2012-05', '2012-06', '2012-07', '2012-08', '2012-09', '2012-10',
        '2012-11', '2012-12', '2013-01', '2013-02', '2013-03', '2013-04',
        '2013-05', '2013-06', '2013-07', '2013-08', '2013-09', '2013-10',
        '2013-11', '2013-12', '2014-01', '2014-02', '2014-03', '2014-04',
        '2014-05', '2014-06', '2014-07', '2014-08', '2014-09', '2014-10',
        '2014-11', '2014-12', '2015-01', '2015-02', '2015-03', '2015-04',
        '2015-05', '2015-06', '2015-07', '2015-08', '2015-09', '2015-10',
        '2015-11', '2015-12', '2016-01', '2016-02', '2016-03', '2016-04',
        '2016-05', '2016-06', '2016-07', '2016-08'
    ]
    removeCols = [
        '2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06',
        '2000-07', '2000-08', '2000-09', '2000-10', '2000-11', '2000-12',
        '2001-01', '2001-02', '2001-03', '2001-04', '2001-05', '2001-06',
        '2001-07', '2001-08', '2001-09', '2001-10', '2001-11', '2001-12',
        '2002-01', '2002-02', '2002-03', '2002-04', '2002-05', '2002-06',
        '2002-07', '2002-08', '2002-09', '2002-10', '2002-11', '2002-12',
        '2003-01', '2003-02', '2003-03', '2003-04', '2003-05', '2003-06',
        '2003-07', '2003-08', '2003-09', '2003-10', '2003-11', '2003-12',
        '2004-01', '2004-02', '2004-03', '2004-04', '2004-05', '2004-06',
        '2004-07', '2004-08', '2004-09', '2004-10', '2004-11', '2004-12',
        '2005-01', '2005-02', '2005-03', '2005-04', '2005-05', '2005-06',
        '2005-07', '2005-08', '2005-09', '2005-10', '2005-11', '2005-12',
        '2006-01', '2006-02', '2006-03', '2006-04', '2006-05', '2006-06',
        '2006-07', '2006-08', '2006-09', '2006-10', '2006-11', '2006-12',
        '2007-01', '2007-02', '2007-03', '2007-04', '2007-05', '2007-06',
        '2007-07', '2007-08', '2007-09', '2007-10', '2007-11', '2007-12',
        '2008-01', '2008-02', '2008-03', '2008-04', '2008-05', '2008-06',
        '2008-07', '2008-08', '2008-09', '2008-10', '2008-11', '2008-12',
        '2009-01', '2009-02', '2009-03', '2009-04', '2009-05', '2009-06',
        '2009-07', '2009-08', '2009-09', '2009-10', '2009-11', '2009-12',
        '2010-01', '2010-02', '2010-03', '2010-04', '2010-05', '2010-06',
        '2010-07', '2010-08', '2010-09', '2010-10', '2010-11', '2010-12',
        '2011-01', '2011-02', '2011-03', '2011-04', '2011-05', '2011-06',
        '2011-07', '2011-08', '2011-09', '2011-10', '2011-11', '2011-12',
        '2012-01', '2012-02', '2012-03', '2012-04', '2012-05', '2012-06',
        '2012-07', '2012-08', '2012-09', '2012-10', '2012-11', '2012-12',
        '2013-01', '2013-02', '2013-03', '2013-04', '2013-05', '2013-06',
        '2013-07', '2013-08', '2013-09', '2013-10', '2013-11', '2013-12',
        '2014-01', '2014-02', '2014-03', '2014-04', '2014-05', '2014-06',
        '2014-07', '2014-08', '2014-09', '2014-10', '2014-11', '2014-12',
        '2015-01', '2015-02', '2015-03', '2015-04', '2015-05', '2015-06',
        '2015-07', '2015-08', '2015-09', '2015-10', '2015-11', '2015-12',
        '2016-01', '2016-02', '2016-03', '2016-04', '2016-05', '2016-06',
        '2016-07', '2016-08'
    ]

    # City_Zhvi_AllHomes.csv
    ## Read recession data
    housing_df = pd.read_csv(
        'City_Zhvi_AllHomes.csv', usecols=columnNames,
        index_col=[0, 1])  #,parse_cols=[4,7],index_col=[4,6])

    allCols = housing_df.columns.values.tolist()
    for aCol in allCols:
        yr = aCol.split('-')[0]
        mo = aCol.split('-')[1]
        if (mo == "01"):
            newCol = yr + 'q1'
            col1 = aCol
            col2 = yr + "-" + "02"
            col3 = yr + "-" + "03"
            temp_df = pd.DataFrame(data=housing_df, columns=[col1, col2, col3])
            housing_df[newCol] = temp_df.mean(axis=1)
        elif (mo == "04"):
            newCol = yr + 'q2'
            col1 = aCol
            col2 = yr + "-" + "05"
            col3 = yr + "-" + "06"
            temp_df = pd.DataFrame(data=housing_df, columns=[col1, col2, col3])
            housing_df[newCol] = temp_df.mean(axis=1)
        elif (mo == "07"):
            newCol = yr + 'q3'
            col1 = aCol
            col2 = yr + "-" + "08"
            col3 = yr + "-" + "09"
            temp_df = pd.DataFrame(data=housing_df, columns=[col1, col2, col3])
            housing_df[newCol] = temp_df.mean(axis=1)
        elif (mo == "10"):
            newCol = yr + 'q4'
            col1 = aCol
            col2 = yr + "-" + "11"
            col3 = yr + "-" + "12"
            temp_df = pd.DataFrame(data=housing_df, columns=[col1, col2, col3])
            housing_df[newCol] = temp_df.mean(axis=1)
    housing_df = housing_df.drop(removeCols, 1)

    housing_df = housing_df.reset_index()
    housing_df["State"] = housing_df["State"].apply(
        lambda x: states[x])  #, axis=1)
    housing_df = housing_df.set_index(['State', 'RegionName'])

    return housing_df


# housing_df = pd.read_csv(
#         'City_Zhvi_AllHomes.csv')
housing_df = convert_housing_data_to_quarters()
# # housing_df["State"] = housing_df["State"].apply(lambda x: states[x])
# convert_housing_data_to_quarters().loc["Texas"].loc["Austin"].loc["2010q3"]
housing_df

,,2000q1,2000q2,2000q3,2000q4,2001q1,2001q2,2001q3,2001q4,2002q1,2002q2,...,2014q2,2014q3,2014q4,2015q1,2015q2,2015q3,2015q4,2016q1,2016q2,2016q3
State,RegionName,,,,,,,,,,,,,,,,,,,,,
New York,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.154667e+05,5.228000e+05,5.280667e+05,5.322667e+05,5.408000e+05,5.572000e+05,5.728333e+05,5.828667e+05,5.916333e+05,587200.0
California,Los Angeles,2.070667e+05,2.144667e+05,2.209667e+05,2.261667e+05,2.330000e+05,2.391000e+05,2.450667e+05,2.530333e+05,2.619667e+05,2.727000e+05,...,4.980333e+05,5.090667e+05,5.188667e+05,5.288000e+05,5.381667e+05,5.472667e+05,5.577333e+05,5.660333e+05,5.774667e+05,584050.0
Illinois,Chicago,1.384000e+05,1.436333e+05,1.478667e+05,1.521333e+05,1.569333e+05,1.618000e+05,1.664000e+05,1.704333e+05,1.755000e+05,1.775667e+05,...,1.926333e+05,1.957667e+05,2.012667e+05,2.010667e+05,2.060333e+05,2.083000e+05,2.079000e+05,2.060667e+05,2.082000e+05,212000.0
Pennsylvania,Philadelphia,5.300000e+04,5.363333e+04,5.413333e+04,5.470000e+04,5.533333e+04,5.553333e+04,5.626667e+04,5.753333e+04,5.913333e+04,6.073333e+04,...,1.137333e+05,1.153000e+05,1.156667e+05,1.162000e+05,1.179667e+05,1.212333e+05,1.222000e+05,1.234333e+05,1.269333e+05,128700.0
Arizona,Phoenix,1.118333e+05,1.143667e+05,1.160000e+05,1.174000e+05,1.196000e+05,1.215667e+05,1.227000e+05,1.243000e+05,1.265333e+05,1.283667e+05,...,1.642667e+05,1.653667e+05,1.685000e+05,1.715333e+05,1.741667e+05,1.790667e+05,1.838333e+05,1.879000e+05,1.914333e+05,195200.0
Nevada,Las Vegas,1.326000e+05,1.343667e+05,1.354000e+05,1.370000e+05,1.395333e+05,1.417333e+05,1.433667e+05,1.461333e+05,1.493333e+05,1.509333e+05,...,1.700667e+05,1.734000e+05,1.754667e+05,1.775000e+05,1.816000e+05,1.867667e+05,1.906333e+05,1.946000e+05,1.972000e+05,199950.0
California,San Diego,2.229000e+05,2.343667e+05,2.454333e+05,2.560333e+05,2.672000e+05,2.762667e+05,2.845000e+05,2.919333e+05,3.012333e+05,3.128667e+05,...,4.802000e+05,4.890333e+05,4.964333e+05,5.033667e+05,5.120667e+05,5.197667e+05,5.254667e+05,5.293333e+05,5.362333e+05,539750.0
Texas,Dallas,8.446667e+04,8.386667e+04,8.486667e+04,8.783333e+04,8.973333e+04,8.930000e+04,8.906667e+04,9.090000e+04,9.256667e+04,9.380000e+04,...,1.066333e+05,1.089000e+05,1.115333e+05,1.137000e+05,1.211333e+05,1.285667e+05,1.346000e+05,1.405000e+05,1.446000e+05,149300.0
California,San Jose,3.742667e+05,4.065667e+05,4.318667e+05,4.555000e+05,4.706667e+05,4.702000e+05,4.568000e+05,4.455667e+05,4.414333e+05,4.577667e+05,...,6.794000e+05,6.970333e+05,7.149333e+05,7.314333e+05,7.567333e+05,7.764000e+05,7.891333e+05,8.036000e+05,8.189333e+05,822200.0
Florida,Jacksonville,8.860000e+04,8.970000e+04,9.170000e+04,9.310000e+04,9.440000e+04,9.560000e+04,9.706667e+04,9.906667e+04,1.012333e+05,1.034333e+05,...,1.207667e+05,1.217333e+05,1.231667e+05,1.241667e+05,1.269000e+05,1.301333e+05,1.320000e+05,1.339667e+05,1.372000e+05,139900.0
California,San Francisco,4.305000e+05,4.644667e+05,4.835333e+05,4.930000e+05,4.940667e+05,4.961333e+05,5.041000e+05,5.134000e+05,5.204333e+05,5.381667e+05,...,9.269333e+05,9.545333e+05,9.687667e+05,1.000733e+06,1.060800e+06,1.095100e+06,1.105467e+06,1.121767e+06,1.119267e+06,1106400.0
Texas,Austin,1.429667e+05,1.452667e+05,1.494667e+05,1.557333e+05,1.612333e+05,1.607333e+05,1.595333e+05,1.600333e+05,1.589667e+05,1.575000e+05,...,2.488667e+05,2.528000e+05,2.581333e+05,2.665000e+05,2.750333e+05,2.816333e+05,2.872333e+05,2.935000e+05,3.014333e+05,304450.0
Michigan,Detroit,6.616667e+04,6.830000e+04,6.676667e+04,6.703333e+04,6.750000e+04,6.836667e+04,6.926667e+04,6.996667e+04,7.100000e+04,7.233333e+04,...,3.730000e+04,3.710000e+04,3.713333e+04,3.620000e+04,3.583333e+04,3.706667e+04,3.836667e+04,3.796667e+04,3.746667e+04,37900.0
Ohio,Columbus,9.436667e+04,9.583333e+04,9.713333e+04,9.826667e+04,9.940000e+04,1.002667e+05,1.010667e+05,1.022000e+05,1.034000e+05,1.048000e+05,...,1.031333e+05,1.045000e+05,1.064333e+05,1.078667e+05,1.094333e+05,1.115667e+05,1.150000e+05,1.167000e+05,1.182000e+05,120100.0
Tennessee,Memphis,7.250000e+04,7.320000e+04,7.386667e+04,7.400000e+04,7.416667e+04,7.493333e+04,7.550000e+04,7.606667e+04,7.633333e+04,7.676667e+04,...,6.810000e+04,6.910000e+04,7.116667e+04,7.053333e+04,6.870000e+04,6.866667e+04,6.953333e+04,7.090000e+04,7.416667e+04,75900.0
North Carolina,Charlotte,1.269333e+05,1.283667e+05,1.302000e+05,1.315667e+05,1.329333e+05,1.332000e+05,1.328000e+05,1.331000e+05,1.343667e+05,1.353667e+05,...,1.494667e+05,1.506333e+05,1.527333e+05,1.551667e+05,1.579000e+05,1.601667e+05,1.628667e+05,1.664667e+05,1.694333e+05,172400.0
Texas,El Paso,7.626667e+04,7.686667e+04,7.673333e+04,7.730000e+04,7.823333e+04,7.830000e+04,7.743333e+04,7.680000e+04,7.660000e+04,7.640000e+04,...,1.118000e+05,1.117333e+05,1.117667e+05,1.115000e+05,1.113000e+05,1.110667e+05,1.102667e+05,1.106667e+05,1.114667e+05,112200.0
Massachusetts,Boston,2.069333e+05,2.191667e+05,2.331000e+05,2.425000e+05,2.496000e+05,2.570667e+05,2.669333e+05,2.749667e+05,2.825000e+05,2.893000e+05,...,4.266667e+05,4.314333e+05,4.407333e+05,4.485000e+05,4.553667e+05,4.639667e+05,4.716333e+05,4.826000e+05,4.903667e+05,501700.0
Washington,Seattle,2.486000e+05,2.556000e+05,2.625333e+05,2.674000e+05,2.710000e+05,2.724333e+05,2.741667e+05,2.781667e+05,2.805000e+05,2.846000e+05,...,4.418000e+05,4.515000e+05,4.591667e+05,4.679333e+05,4.933667e+05,5.142667e+05,5.334667e+05,5.517333e+05,5.755333e+05,589700.0
Maryland,Baltimore,5.966667e+04,5.950000e+04,5.883333e+04,5.950000e+04,5.956667e+04,6.013333e+04,6.210000e+04,6.340000e+04,6.366667e+04,6.490000e+04,...,1.092333e+05,1.095333e+05,1.073667e+05,1.080667e+05,1.114333e+05,1.139667e+05,1.139000e+05,1.146667e+05,1.147333e+05,115150.0
Colorado,Denver,1.622333e+05,1.678333e+05,1.743333e+05,1.803333e+05,1.865000e+05,1.925333e+05,1.964000e+05,1.991000e+05,2.012333e+05,2.024333e+05,...,2.708667e+05,2.775000e+05,2.872333e+05,2.976333e+05,3.103667e+05,3.205000e+05,3.301000e+05,3.355667e+05,3.427667e+05,351550.0
District of Columbia,Washington,1.377667e+05,1.442000e+05,1.487000e+05,1.477000e+05,1.497667e+05,1.551333e+05,1.646333e+05,1.725333e+05,1.805000e+05,1.933000e+05,...,4.469333e+05,4.530000e+05,4.603000e+05,4.661667e+05,4.810667e+05,4.934000e+05,5.009000e+05,5.041000e+05,5.058000e+05,516250.0
Tennessee,Nashville,1.138333e+05,1.152667e+05,1.158667e+05,1.169333e+05,1.180333e+05,1.191667e+05,1.201000e+05,1.208000e+05,1.215667e+05,1.226333e+05,...,1.607000e+05,1.623000e+05,1.669000e+05,1.714667e+05,1.762667e+05,1.818000e+05,1.892000e+05,1.950667e+05,2.003667e+05,206100.0
Wisconsin,Milwaukee,7.803333e+04,7.906667e+04,8.103333e+04,8.233333e+04,8.403333e+04,8.556667e+04,8.706667e+04,8.840000e+04,8.953333e+04,9.136667e+04,...,9.216667e+04,9.216667e+04,9.196667e+04,9.333333e+04,9.410000e+04,9.413333e+04,9.456667e+04,9.466667e+04,9.636667e+04,98850.0
Arizona,Tucson,1.018333e+05,1.029667e+05,1.044667e+05,1.056667e+05,1.072000e+05,1.087667e+05,1.105667e+05,1.128000e+05,1.150000e+05,1.172000e+05,...,1.424667e+05,1.434333e+05,1.442333e+05,1.441667e+05,1.451333e+05,1.466000e+05,1.481667e+05,1.495333e+05,1.511667e+05,152700.0
Oregon,Portland,1.528000e+05,1.547667e+05,1.565667e+05,1.574667e+05,1.599000e+05,1.618000e+05,1.642667e+05,1.677667e+05,1.707667e+05,1.741333e+05,...,2.822333e+05,2.872667e+05,2.955333e+05,3.019333e+05,3.119000e+05,3.257333e+05,3.430667e+05,3.560000e+05,3.698000e+05,387050.0
Oklahoma,Oklahoma City,7.643333e+04,7.750000e+04,7.856667e+04,7.916667e+04,7.983333e+04,8.040000e+04,8.113333e+04,8.173333e+04,8.260000e+04,8.343333e+04,...,1.180333e+05,1.189667e+05,1.201000e+05,1.208000e+05,1.223667e+05,1.247000e+05,1.271000e+05,1.279000e+05,1.293000e+05,130300.0
Nebraska,Omaha,1.128000e+05,1.141000e+05,1.167333e+05,1.189000e+05,1.208667e+05,1.197667e+05,1.178667e+05,1.174000e+05,1.180667e+05,1.176333e+05,...,1.301000e+05,1.303000e+05,1.325000e+05,1.330667e+05,1.344667e+05,1.367333e+05,1.400667e+05,1.416333e+05,1.426667e+05,143450.0
New Mexico,Albuquerque,1.258667e+05,1.267000e+05,1.264333e+05,1.267333e+05,1.271000e+05,1.277333e+05,1.285667e+05,1.299000e+05,1.310667e+05,1.321000e+05,...,1.632667e+05,1.640000e+05,1.648000e+05,1.651667e+05,1.659000e+05,1.665333e+05,1.673333e+05,1.691000e+05,1.706333e+05,171900.0
California,Fresno,9.410000e+04,9.526667e+04,9.646667e+04,9.823333e+04,1.005667e+05,1.035667e+05,1.072333e+05,1.103000e+05,1.140333e+05,1.185333e+05,...,1.696333e+05,1.736000e+05,1.781333e+05,1.804667e+05,1.820333e+05,1.857000e+05,1.874667e+05,1.890333e+05,1.927333e+05,196450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Texas,Granite Shoals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.169667e+05,1.175333e+05,1.175333e+05,1.171667e+05,1.191000e+05,1.216000e+05,1.280000e+05,1.337667e+05,1.400667e+05,146450.0
Maryland,Piney Point,1.556667e+05,1.551667e+05,1.584667e+05,1.637000e+05,1.634000e+05,1.648333e+05,1.647000e+05,1.679000e+05,1.782667e+05,1.812000e+05,...,2.964000e+05,3.090000e+05,3.092333e+05,3.095667e+05,3.017000e+05,3.052333e+05,3.099667e+05,3.195000e+05,3.241667e+05,324600.0
Wisconsin,Maribel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.306000e+05,1.289667e+05,1.296333e+05,1.312667e+05,1.301333e+05,1.297333e+05,1.293000e+05,1.278333e+05,1.292667e+05,134200.0
Idaho,Middleton,1.060667e+05,1.043333e+05,1.019000e+05,1.041667e+05,1.061667e+05,1.083667e+05,1.110333e+05,1.112333e+05,1.141000e+05,1.141667e+05,...,1.443667e+05,1.457000e+05,1.462333e+05,1.461667e+05,1.477333e+05,1.482000e+05,1.511333e+05,1.539000e+05,1.571667e+05,160750.0
Colorado,Bennett,1.329000e+05,1.358333e+05,1.398000e+05,1.446667e+05,1.483000e+05,1.521000e+05,1.542333e+05,1.562000e+05,1.587333e+05,1.606333e+05,...,1.514667e+05,1.620667e+05,1.714000e+05,1.780333e+05,1.844333e+05,1.916667e+05,1.958000e+05,1.997667e+05,2.074667e+05,212600.0
New Hampshire,East Hampstead,1.618333e+05,1.691000e+05,1.739667e+05,1.805000e+05,1.909000e+05,1.950667e+05,1.992667e+05,2.074000e+05,2.123000e+05,2.122333e+05,...,2.495000e+05,2.521000e+05,2.557333e+05,2.587333e+05,2.613667e+05,2.616000e+05,2.688000e+05,2.725333e+05,2.778000e+05,282450.0
Missouri,Garden City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.055000e+05,1.043000e+05,1.047667e+05,1.060333e+05,9.606667e+04,9.930000e+04,1.034333e+05,1.062667e+05,1.116667e+05,113600.0
Arkansas,Mountainburg,5.716667e+04,6.433333e+04,6.783333e+04,6.900000e+04,6.866667e+04,6.386667e+04,6.376667e+04,6.546667e+04,6.533333e+04,6.600000e+04,...,8.160000e+04,8.506667e+04,8.846667e+04,8.903333e+04,8.556667e+04,8.370000e+04,9.043333e+04,9.833333e+04,1.019000e+05,103400.0
Wisconsin,Oostburg,1.072667e+05,1.081000e+05,1.124333e+05,1.155000e+05,1.191000e+05,1.204333e+05,1.203667e+05,1.196333e+05,1.198667e+05,1.185667e+05,...,1.295667e+05,1.279333e+05,1.274333e+05,1.270667e+05,1.274000e+05,1.303333e+05,1.320333e+05,1.327667e+05,1.341000e+05,136350.0
California,Twin Peaks,9.736667e+04,1.001667e+05,1.013333e+05,1.017000e+05,1.040000e+05,1.076667e+05,1.098333e+05,1.111333e+05,1.132000e+05,1.166000e+05,...,1.501000e+05,1.475333e+05,1.460667e+05,1.435000e+05,1.523000e+05,1.552667e+05,1.591667e+05,1.641667e+05,1.679667e+05,173500.0
New York,Upper Brookville,1.230967e+06,1.230967e+06,1.237700e+06,1.261567e+06,1.295167e+06,1.340033e+06,1.403667e+06,1.481933e+06,1.536167e+06,1.562033e+06,...,1.780633e+06,1.749233e+06,1.729467e+06,1.749867e+06,1.789600e+06,1.777267e+06,1.834367e+06,1.904500e+06,1.944067e+06,1968800.0
Hawaii,Volcano,9.870000e+04,1.053667e+05,1.146667e+05,1.247667e+05,1.181333e+05,1.194000e+05,1.232667e+05,1.211667e+05,1.233000e+05,1.169000e+05,...,2.064667e+05,2.276333e+05,2.332000e+05,2.346333e+05,2.323667e+05,2.249667e+05,2.324333e+05,2.420667e+05,2.489667e+05,247850.0
South Carolina,Wedgefield,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.436667e+04,7.026667e+04,7.206667e+04,7.570000e+04,7.206667e+04,7.033333e+04,6.903333e+04,6.886667e+04,7.426667e+04,80700.0
Michigan,Williamston,1.591667e+05,1.613000e+05,1.643000e+05,1.662000e+05,1.664333e+05,1.686333e+05,1.716667e+05,1.750333e+05,1.786667e+05,1.793333e+05,...,1.657000e+05,1.689333e+05,1.708667e+05,1.744333e+05,1.758667e+05,1.794667e+05,1.823000e+05,1.814667e+05,1.824000e+05,183000.0
Arkansas,Decatur,6.360000e+04,6.440000e+04,6.566667e+04,6.673333e+04,6.720000e+04,6.770000e+04,6.650000e+04,6.540000e+04,6.460000e+04,6.490000e+04,...,8.966667e+04,9.256667e+04,9.470000e+04,9.350000e+04,9.490000e+04,9.543333e+04,9.700000e+04,9.650000e+04,9.663333e+04,96850.0
Tennessee,Briceville,4.000000e+04,4.173333e+04,4.366667e+04,4.490000e+04,4.480000e+04,4.530000e+04,4.463333e+04,4.370000e+04,4.446667e+04,4.340000e+04,...,5.623333e+04,5.423333e+04,5.260000e+04,4.963333e+04,4.590000e+04,4.793333e+04,4.360000e+04,4.080000e+04,4.180000e+04,40850.0
Indiana,Edgewood,9.170000e+04,9.186667e+04,9.293333e+04,9.490000e+04,9.893333e+04,1.000667e+05,1.008333e+05,1.010000e+05,1.021667e+05,1.017667e+05,...,9.213333e+04,9.406667e+04,9.466667e+04,9.586667e+04,9.433333e+04,9.663333e+04,9.996667e+04,9.943333e+04,9.996667e+04,100950.0
Tennessee,Palmyra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.227667e+05,1.269333e+05,1.262333e+05,1.223000e+05,1.204667e+05,1.198000e+05,1.258000e+05,1.276667e+05,1.328667e+05,137750.0
Maryland,Saint Inigoes,1.480667e+05,1.476000e+05,1.572333e+05,1.633667e+05,1.642333e+05,1.682000e+05,1.665000e+05,1.653333e+05,1.673000e+05,1.688000e+05,...,2.822333e+05,2.884333e+05,2.869667e+05,2.847000e+05,2.807667e+05,2.778333e+05,2.768333e+05,2.793333e+05,2.826333e+05,281400.0
Indiana,Marysville,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.166000e+05,1.151000e+05,1.165000e+05,1.118667e+05,1.118000e+05,1.156667e+05,1.201667e+05,1.282333e+05,1.232333e+05,124200.0
California,Forest Falls,1.135333e+05,1.144000e+05,1.141667e+05,1.111333e+05,1.134333e+05,1.130000e+05,1.130333e+05,1.151667e+05,1.187000e+05,1.250667e+05,...,1.653667e+05,1.675000e+05,1.771000e+05,1.765333e+05,1.818000e+05,1.911667e+05,1.987333e+05,1.886333e+05,1.898667e+05,186650.0
Missouri,Bois D Arc,1.078000e+05,1.069667e+05,1.071000e+05,1.081000e+05,1.107000e+05,1.136667e+05,1.126333e+05,1.127333e+05,1.130667e+05,1.154000e+05,...,1.375667e+05,1.375667e+05,1.404000e+05,1.450333e+05,1.475667e+05,1.463000e+05,1.494333e+05,1.468667e+05,1.437667e+05,144000.0
Virginia,Henrico,1.285667e+05,1.307667e+05,1.322667e+05,1.332667e+05,1.352333e+05,1.367333e+05,1.386000e+05,1.413333e+05,1.435333e+05,1.461333e+05,...,2.016333e+05,2.040000e+05,2.059000e+05,2.065667e+05,2.104333e+05,2.121000e+05,2.139667e+05,2.160333e+05,2.162000e+05,220150.0
New Jersey,Diamond Beach,1.739667e+05,1.831000e+05,1.889667e+05,1.931333e+05,1.944000e+05,2.102667e+05,2.302667e+05,2.486667e+05,2.599333e+05,2.656333e+05,...,3.818000e+05,3.878667e+05,3.876667e+05,3.931667e+05,3.980000e+05,3.992333e+05,4.004333e+05,4.045333e+05,4.039000e+05,399000.0
Tennessee,Gruetli Laager,3.540000e+04,3.546667e+04,3.666667e+04,3.730000e+04,3.773333e+04,3.790000e+04,3.936667e+04,4.040000e+04,4.156667e+04,4.163333e+04,...,5.556667e+04,5.636667e+04,5.713333e+04,5.890000e+04,6.536667e+04,6.950000e+04,7.170000e+04,7.533333e+04,7.646667e+04,77500.0
Wisconsin,Town of Wrightstown,1.017667e+05,1.054000e+05,1.113667e+05,1.148667e+05,1.259667e+05,1.299000e+05,1.299000e+05,1.294333e+05,1.319000e+05,1.342000e+05,...,1.448667e+05,1.468667e+05,1.492333e+05,1.486667e+05,1.493333e+05,1.498667e+05,1.499333e+05,1.498333e+05,1.512667e+05,155000.0
New York,Urbana,7.920000e+04,8.166667e+04,9.170000e+04,9.836667e+04,9.486667e+04,9.853333e+04,1.029667e+05,9.803333e+04,9.396667e+04,9.460000e+04,...,1.321333e+05,1.370333e+05,1.400667e+05,1.417000e+05,1.378667e+05,1.364667e+05,1.361667e+05,1.389667e+05,1.442000e+05,143000.0
Wisconsin,New Denmark,1.145667e+05,1.192667e+05,1.260667e+05,1.319667e+05,1.438000e+05,1.469667e+05,1.483667e+05,1.491667e+05,1.531333e+05,1.567333e+05,...,1.745667e+05,1.811667e+05,1.861667e+05,1.876000e+05,1.886667e+05,1.884333e+05,1.889333e+05,1.910667e+05,1.928333e+05,197600.0
California,Angels,1.510000e+05,1.559000e+05,1.581000e+05,1.674667e+05,1.768333e+05,1.837667e+05,1.902333e+05,1.845667e+05,1.840333e+05,1.861333e+05,...,2.444667e+05,2.540667e+05,2.599333e+05,2.601000e+05,2.506333e+05,2.635000e+05,2.795000e+05,2.765333e+05,2.716000e+05,269950.0
Wisconsin,Holland,1.510333e+05,1.505000e+05,1.532333e+05,1.558333e+05,1.618667e+05,1.657333e+05,1.680333e+05,1.674000e+05,1.657667e+05,1.619667e+05,...,2.012667e+05,2.015667e+05,2.012667e+05,2.060000e+05,2.076000e+05,2.128667e+05,2.178333e+05,2.219667e+05,2.280333e+05,234950.0

In [26]:
# housing_df.loc["Texas"].loc["Austin"].loc["2010q3"] 
# housing_df.index

# university_df = get_list_of_university_towns()
# university_df

202266.66666666666

In [9]:
# # matching Region Name approximately is not good enough

# def isSchoolTownData_relax(housing_df, university_df):
#     housing_df = housing_df.reset_index()
#     housing_df["State"] = housing_df["State"].apply(lambda x: states[x])  #, axis=1)
    
#     isState = housing_df["State"].isin(university_df["State"])
#     isRegion = housing_df["RegionName"].isin(university_df["RegionName"])
#     #['Berkeley']
    
#     isUniTwn = isRegion&isState
    
#     return isUniTwn #housing_df[isUniTwn] #isUniTwn[isUniTwn==True]

# housing_df[isSchoolTownData_relax(housing_df, university_df)]

In [34]:
def isSchoolTownData(housing_df, university_df):
    """determine if the the housing data row belongs to a university town"""

    housing_df = housing_df.reset_index()
    #     housing_df = housing_df.set_index(['RegionName', 'State'])
    # a possibly too inefficient way to get a list of school by iterate through university_df
    # use "states" object for matching state
    isUniTwn = ((housing_df["RegionName"] == university_df["RegionName"][0]))
    #     isUniTwn = ((housing_df["RegionName"] == university_df["RegionName"][0]) &
    #                 (housing_df["State"] == university_df["State"][0]))

    #     (((housing_df["RegionName"] == university_df["RegionName"][0]) |
    #                  (housing_df["Metro"] == university_df["RegionName"][0]) |
    #                  (housing_df["CountyName"] == university_df["RegionName"][0]))
    #                 & (housing_df["State"] == university_df["State"][0]))

    #     ((housing_df["RegionName"] == university_df["RegionName"][0]) &
    #                 (housing_df["State"] == university_df["State"][0]))

    #     (((housing_df["RegionName"] == university_df["RegionName"][0]) |
    #                  (housing_df["CountyName"] == university_df["RegionName"][0]))
    #                 & (housing_df["State"] == university_df["State"][0]))

    for index, row in university_df.iterrows():
        curr_isUniTwn = ((housing_df["RegionName"] == row["RegionName"]))
        #         curr_isUniTwn = ((housing_df["RegionName"] == row["RegionName"]) &
        #                          (housing_df["State"] == row["State"]))

        #         (((housing_df["RegionName"] == row["RegionName"])
        #                           | (housing_df["Metro"] == row["RegionName"])
        #                           | (housing_df["CountyName"] == row["RegionName"])) &
        #                          (housing_df["State"] == row["State"]))

        #         ((housing_df["RegionName"] == row["RegionName"]) &
        #                 (housing_df["State"] == row["State"]))

        #         (((housing_df["RegionName"] == row["RegionName"])
        #             | (housing_df["CountyName"] == row["RegionName"])) &
        #                          (housing_df["State"] == row["State"]))

        isUniTwn = (isUniTwn | curr_isUniTwn)

    uniTwn_df = housing_df[isUniTwn]
    return uniTwn_df


def isNotSchoolTownData(housing_df, university_df):
    """determine if the the housing data row belongs to a university town"""

    housing_df = housing_df.reset_index()
    #     housing_df["State"] = housing_df["State"].apply(
    #         lambda x: states[x])  #, axis=1)
    # a possibly too inefficient way to get a list of school by iterate through university_df
    # use "states" object for matching state
    isUniTwn = ((housing_df["RegionName"] == university_df["RegionName"][0]))
    #     isUniTwn = ((housing_df["RegionName"] == university_df["RegionName"][0]) &
    #                 (housing_df["State"] == university_df["State"][0]))

    #     (((housing_df["RegionName"] == university_df["RegionName"][0]) |
    #                  (housing_df["Metro"] == university_df["RegionName"][0]) |
    #                  (housing_df["CountyName"] == university_df["RegionName"][0]))
    #                 & (housing_df["State"] == university_df["State"][0]))

    #     ((housing_df["RegionName"] == university_df["RegionName"][0]) &
    #                 (housing_df["State"] == university_df["State"][0]))

    #     (((housing_df["RegionName"] == university_df["RegionName"][0]) |
    #                  (housing_df["CountyName"] == university_df["RegionName"][0]))
    #                 & (housing_df["State"] == university_df["State"][0]))

    for index, row in university_df.iterrows():
        curr_isUniTwn = ((housing_df["RegionName"] == row["RegionName"]))
        #         curr_isUniTwn = ((housing_df["RegionName"] == row["RegionName"]) &
        #                  (housing_df["State"] == row["State"]))

        #         (((housing_df["RegionName"] == row["RegionName"])
        #                           | (housing_df["Metro"] == row["RegionName"])
        #                           | (housing_df["CountyName"] == row["RegionName"])) &
        #                          (housing_df["State"] == row["State"]))

        #         ((housing_df["RegionName"] == row["RegionName"]) &
        #                 (housing_df["State"] == row["State"]))

        #         (((housing_df["RegionName"] == row["RegionName"])
        #             | (housing_df["CountyName"] == row["RegionName"])) &
        #                          (housing_df["State"] == row["State"]))

        isUniTwn = (isUniTwn | curr_isUniTwn)

    uniTwn_df = housing_df[~isUniTwn]
    return uniTwn_df

In [48]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''

    # Hypothesis: University towns have their mean housing prices less effected by recessions.
    # Run a t-test to compare the ratio of the mean price of houses in university towns the
    # quarter before the recession starts compared to the recession bottom.
    # (price_ratio=quarter_before_recession/recession_bottom)

    # data between recession start and recession bottom
    df = convert_housing_data_to_quarters()
    start_index = list(df.columns).index(get_recession_start())
    end_index = list(df.columns).index(get_recession_bottom())
    df = df.iloc[:, [start_index, end_index]]#[start_index - 1, end_index + 1]]
    df["priceRatio"] = df.iloc[:, 0] / df.iloc[:, 1]

    university_df = get_list_of_university_towns()

    # data separted by university town and non-university town
    uniTwn_df = isSchoolTownData(df, university_df)
    regTwn_df = isNotSchoolTownData(df, university_df)

    # check if two grousp are the same with t-test
    from scipy import stats
    #     stats.ttest_ind?
    ttest = stats.ttest_ind(regTwn_df['priceRatio'].dropna(),
                            uniTwn_df['priceRatio'].dropna())
    # ttest.pvalue
    # ttest.statistic
    # ttest
    different = False
    p_val = ttest.pvalue
    better = False
    if p_val < 0.5:
        different = True
    if regTwn_df['priceRatio'].mean() < uniTwn_df['priceRatio'].mean():
        better = "non-university town"
    else:
        better = 'university town'#True
    
    return (different, p_val, better)


#regTwn_df #uniTwn_df

print(get_recession_start())
print(get_recession_bottom())
run_ttest()

2008q1
2009q2

(True, 3.9204110809200024e-05, 'university town')

In [49]:

# '''First creates new data showing the decline or growth of housing prices
# between the recession start and the recession bottom. Then runs a ttest
# comparing the university town values to the non-university towns values, 
# return whether the alternative hypothesis (that the two groups are the same)
# is true or not as well as the p-value of the confidence. 

# Return the tuple (different, p, better) where different=True if the t-test is
# True at a p<0.01 (we reject the null hypothesis), or different=False if 
# otherwise (we cannot reject the null hypothesis). The variable p should
# be equal to the exact p value returned from scipy.stats.ttest_ind(). The
# value for better should be either "university town" or "non-university town"
# depending on which has a lower mean price ratio (which is equivilent to a
# reduced market loss).'''
    
# # Hypothesis: University towns have their mean housing prices less effected by recessions.
# # Run a t-test to compare the ratio of the mean price of houses in university towns the
# # quarter before the recession starts compared to the recession bottom.
# # (price_ratio=quarter_before_recession/recession_bottom)

# # data between recession start and recession bottom
# df = convert_housing_data_to_quarters()
# start_index = list(df.columns).index(get_recession_start())
# end_index = list(df.columns).index(get_recession_bottom())
# df = df.iloc[:, [start_index, end_index]]
# df["priceRatio"] = df.iloc[:, 0] / df.iloc[:, 1]
# # df
# university_df = get_list_of_university_towns()
# # university_df
# # # data separted by university town and non-university town
# uniTwn_df = isSchoolTownData(df, university_df)
# uniTwn_df

In [42]:
# regTwn_df = isNotSchoolTownData(df, university_df)
# regTwn_df
# # # check if two grousp are the same with t-test
# # from scipy import stats
# # #     stats.ttest_ind?
# # ttest = stats.ttest_ind(regTwn_df['priceRatio'].dropna(),
# #                         uniTwn_df['priceRatio'].dropna())
# # # ttest.pvalue
# # # ttest.statistic
# # # ttest
# # different = False
# # p_val = ttest.pvalue
# # better = False
# # if p_val < 0.5:
# #     different = True
# # if regTwn_df['priceRatio'].mean() > uniTwn_df['priceRatio'].mean():
# #     better = "non-university town"
# # else:
# #     better = 'university town'#True

In [12]:
### BASIC MATH STUFF ######################

# # aList = [1,2,2,4,5,6,7,9,12]
# # aList = [1,2,2,3,3,4,12,30,90]
# aList = [3,3,90,100]

# su = np.sum(aList)
# mean = np.mean(aList)
# median = np.median(aList)

# print("sum is: " + str(su))
# print("mean is: " + str(mean))
# print("median is: " + str(median))

# from statistics import mode

# mod = mode(aList)
# print("mode is: " + str(mod))

In [13]:
### METHOD 1: iterate over stack rows - too slow ######################
# see method 2 in the convert_housing_data_to_quarters function

# import numpy as np

# housing_df = housing_df.stack()
# housing_df = housing_df.reset_index()
# housing_df = housing_df.set_index(['RegionName', 'State'])
# ## rename columns
# housing_df.columns = ['month', 'medPrice']

# # type(df['month'][0])
# final_cols = ['RegionName', 'State', 'quarter', 'avgPrice']
# # final_indx = 
# final_housing_df = pd.DataFrame(columns=final_cols, index = None)
# mo1_index = None
# mo2_index = None
# mo1_val = None
# mo2_val = None
# i=0
# for index, row in df.iterrows():
#     # print([index, row['month'], row['medPrice']])
#     year = row['month'].split('-')[0]
#     mo = row['month'].split('-')[1]
#     val = row['medPrice']
#     # print(index,mo1_index,mo2_index)
#     if((index==mo2_index and mo2_index==mo1_index)):
#         if(mo=='03'):
#             colLabel = (year+str('q1'))
#             avgVal = np.mean([mo1_val, mo2_val, val])
#             final_housing_df = final_housing_df.append(pd.Series({'RegionName': index[0], 'State': index[1], 'quarter':colLabel,'avgPrice':avgVal}), ignore_index=True)
#             break
#     else:
#         print(index==mo2_index and mo2_index==mo1_index)
#         mo1_index = mo2_index
#         mo2_index = index
#         mo1_val = mo2_val
#         mo2_val = val


### DEBUG NOTES ######################
# https://pandas.pydata.org/pandas-docs/stable/indexing.html
# df.loc[row_indexer,column_indexer]

# df.iloc[0,:]

# %timeit df.iterrows()
# 310 ns Â± 7.6 ns per loop (mean Â± std. dev. of 7 runs, 1000000 loops each)
# %timeit df.itertuples()
# 592 Âµs Â± 55.1 Âµs per loop (mean Â± std. dev. of 7 runs, 1000 loops each)
# %timeit df.iteritems()
# 307 ns Â± 4.09 ns per loop (mean Â± std. dev. of 7 runs, 1000000 loops each)

# https://github.com/pandas-dev/pandas/issues/10334
# In [10]: x = pd.DataFrame({'x': range(10000)})
# In [11]: %timeit list(x.iterrows())
# 1 loops, best of 3: 383 ms per loop
# In [12]: %timeit list(x.itertuples())
# 1000 loops, best of 3: 1.39 ms per loop

# https://stackoverflow.com/questions/25358511/improve-iteritems-performance-or-a-better-way-to-loop-through-python-dictionary
# if (m, l, k) in xDict:
#     om, ol, ok = xDict[m, l, k]

# https://www.tutorialspoint.com/python_pandas/python_pandas_iteration.htm
# for key,value in df.iteritems():
#     print key,value
# for row_index,row in df.iterrows():
#     print row_index,row
# for row in df.itertuples():
#     print row